@use '../../../../../styles/variables' as *;

:host {
    display: block;
    background-color: var(--surface);
    border-top: 1px solid var(--border-color);
    padding: $spacing-md;
}

.input-container {
    max-width: 900px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        display: none; // Hide error space/hint space for compact look
    }

    .mat-mdc-form-field-icon-suffix {
        padding-left: 8px;
    }

    textarea {
        resize: none !important;
    }
}